html {
  font-family: Roboto !important; }

body {
  background-color: #dddddd; }
  body .main {
    max-width: 950px;
    margin: 0 auto;
    background-color: white;
    height: 800px;
    margin-top: 20px; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  background: #FFF;
  width: 100%;
  max-width: 950px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }
  .modal .modal-menu {
    position: fixed;
    background-color: lavender;
    right: 0;
    top: 0;
    height: 350px;
    width: 150px;
    padding-top: 40px;
    border-radius: 0px 0px 5px 5px; }
    .modal .modal-menu i {
      position: fixed;
      font-size: 2.5em;
      right: 50px;
      top: 10px;
      color: #003366; }
    .modal .modal-menu i:hover {
      color: #005588; }
    .modal .modal-menu ul {
      position: absolute;
      left: 0px; }
    .modal .modal-menu li {
      border-radius: 5px;
      border: 1px solid lightgrey;
      margin-right: 20px;
      margin-top: 20px;
      width: 80px;
      list-style: none;
      padding: 3px;
      background-color: #003366; }
      .modal .modal-menu li a {
        text-decoration: none;
        color: lavender;
        font-size: 1.1em;
        font-weight: 400;
        padding-left: 5px;
        padding-right: 3px; }
      .modal .modal-menu li a:hover {
        color: #007788; }

.nav {
  background-color: lavender;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px; }
  @media screen and (max-width: 810px) {
    .nav .nav {
      padding-bottom: 0px; } }
  .nav img {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-top: 20px;
    float: left; }
  @media screen and (max-width: 810px) {
    .nav img {
      height: 60px;
      width: 60px; } }
  @media screen and (max-width: 500px) {
    .nav img {
      margin-top: 30px; } }
  .nav .headings {
    display: block; }
  .nav .links {
    margin-right: 20px;
    margin-top: 10px; }
  @media screen and (max-width: 810px) {
    .nav .links {
      margin-top: 0px; } }
  @media screen and (min-width: 0px) and (max-width: 700px) {
    .nav .links {
      display: none; } }
  .nav ul {
    list-style: none;
    display: inline-block;
    padding-left: 0px; }
  .nav li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: mistyrose;
    margin-bottom: 5px;
    width: 60px;
    border: 1px solid lightgrey;
    border-radius: 3px; }
  @media screen and (max-width: 810px) {
    .nav li a {
      padding: 3px;
      font-size: .9em; } }
  .nav li a:hover {
    background-color: honeydew;
    color: darkgreen; }
  .nav h1 {
    text-align: center;
    top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  @media screen and (max-width: 810px) {
    .nav h1 {
      font-size: 1.5em; } }
  @media screen and (max-width: 500px) {
    .nav h1 {
      margin-top: 30px;
      font-size: 1.1em; } }
  @media screen and (max-width: 450px) {
    .nav h1 {
      margin-top: 30px;
      font-size: 1em;
      font-weight: 900; } }
  .nav h2 {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 50px;
    color: grey;
    text-align: center;
    position: absolute;
    top: 80px; }
  @media screen and (max-width: 810px) {
    .nav h2 {
      top: 70px;
      font-size: 1.1em; } }
  @media screen and (max-width: 500px) {
    .nav h2 {
      font-size: 0.9em; } }
  @media screen and (max-width: 450px) {
    .nav h2 {
      font-size: 0.8em;
      margin-top: 30px;
      left: 50px; } }
  .nav .burger {
    margin-top: 30px;
    margin-right: 20px;
    font-size: 3em;
    color: black; }
  @media screen and (min-width: 700px) {
    .nav .burger {
      display: none; } }
  @media screen and (min-width: 0px) and (max-width: 700px) {
    .nav .burger {
      display: block; } }

.profile {
  box-sizing: border-box;
  margin-top: 20px;
  background-color: lightsteelblue;
  width: 50%;
  height: 220px;
  float: left;
  border: solid 10px white; }
  @media screen and (max-width: 600px) {
    .profile .profile {
      width: 95%; } }
  .profile h3 {
    padding-top: 5px;
    margin: 0; }
  .profile img {
    height: 180px;
    width: 180px;
    float: left;
    margin: 10px; }
  @media screen and (max-width: 810px) {
    .profile img {
      height: 120px;
      width: 120px; } }
  @media screen and (max-width: 600px) {
    .profile img {
      height: 100px;
      width: 100px; } }

.loaneditems {
  box-sizing: border-box;
  margin-top: 20px;
  background-color: lightsteelblue;
  width: 50%;
  height: 220px;
  float: left;
  border: solid 10px white;
  display: inline-flex; }
  @media screen and (max-width: 600px) {
    .loaneditems .loaneditems {
      width: 95%; } }
  .loaneditems .card {
    margin: 10px;
    padding-top: 20px;
    background-color: grey;
    height: 150px;
    width: 150px; }
  .loaneditems .blankcard {
    margin-left: 20px;
    background-color: ivory;
    height: 110px;
    width: 60px;
    border-radius: 5px; }

.test {
  width: 500px;
  height: 700px;
  background-color: grey; }

a {
  text-decoration: none; }
