.container {
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
  background-color: lightsteelblue;
  width: 47%;
  height: 220px;
  float: left;
  }
@media screen and (max-width: 700px) {
  .container {
    width: 95%;
  }
}
.container {
  h3 {
    padding-left: 10px;
  }
}
.onloan {
  display: flex;
  .item {
    width: 150px;
    height: 170px;
    background-color: oldlace;
    margin-left: 10px;
    img {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}

  h3{
    padding-top: 5px;
    margin: 0;
  }
  #avatar {
    height: 180px;
    width: 180px;
    float: left;
    margin: 10px;
  }
  @media screen and (max-width: 810px) {
    #avatar {
      height: 120px;
      width: 120px;
        }
  }
  @media screen and (max-width: 600px) {
    #avatar {
      height: 100px;
      width: 100px;
    }
  }



.signup-form {
  width: 80%;
  height: 700px;
  background-color: lightsteelblue;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 20px;
  .textentry {
    margin-top: 10px;
    width: 60%;
    float:right;
    margin-right: 80px;
    }
  .chooseclass {
    width: 250px;
    height: 200px;
    }
  .image {
    margin-top: 20px;
    float: right;
    #placeholder {
      height: 150px;
      width: 150px;
      }
    }
    input {
      padding: 5px;
      width: 80%;
      border-radius: 4px;
      }
    #submit {
      width: 100px !important;
    }
}

.borrow {
  padding-left: 15px;
  button {
    margin-top: 10px;
    font-size: 1em;
    padding: 10px;
  }
  p {
    margin-left: 10px;
  }
  input {
    padding: 5px;
    width: 80%;
  }
  i {
  font-size: 1.3em;
  color: black;
  background-color: oldlace;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid grey;
  }
}
