.container {
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
  background-color: lightsteelblue;
  width: 46%;
  height: 220px;
  float: left;

  }

.profile {
  @media screen and (max-width: 600px) {
  .profile {
    width: 95%;
    }
  }

  h3{
    padding-top: 5px;
    margin: 0;
  }
  img {
    height: 180px;
    width: 180px;
    float: left;
    margin: 10px;
  }
  @media screen and (max-width: 810px) {
    img {
      height: 120px;
      width: 120px;
        }
  }
  @media screen and (max-width: 600px) {
    img {
      height: 100px;
      width: 100px;
    }
  }
}

.loaneditems {
  display: inline-flex;
  @media screen and (max-width: 600px) {
  .loaneditems {
      width: 95%;
    }
  }
  .card {
    margin: 10px;
    padding-top: 20px;
    background-color: grey;
    height: 150px;
    width: 150px;
    }
  .blankcard {
    margin-left: 20px;
    background-color: ivory;
    height: 110px;
    width: 60px;
    border-radius: 5px;
    }
  }
.signup-form {
  width: 80%;
  height: 700px;
  background-color: lightsteelblue;
  margin: 0 auto;
  margin-top: 20px;
}
