.container {
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 10px;
  background-color: lightsteelblue;
  width: 46%;
  height: 220px;
  float: left;
  }

.container {
  a {
  color: black;
  background-color: oldlace;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  }
  h3 {
    padding-left: 10px;
  }
}
.onloan {
  display: flex;
  .item {
    width: 200px;
    height: 170px;
    background-color: oldlace;
    margin-left: 10px;
    img {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}

  h3{
    padding-top: 5px;
    margin: 0;
  }
  #avatar {
    height: 180px;
    width: 180px;
    float: left;
    margin: 10px;
  }
  @media screen and (max-width: 810px) {
    #avatar {
      height: 120px;
      width: 120px;
        }
  }
  @media screen and (max-width: 600px) {
    #avatar {
      height: 100px;
      width: 100px;
    }
  }



.signup-form {
  width: 80%;
  height: 700px;
  background-color: lightsteelblue;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 20px;
  .textentry {
    margin-top: 10px;
    width: 60%;
    float:right;
    margin-right: 80px;
    }
  .chooseclass {
    width: 250px;
    height: 200px;
    }
  .image {
    margin-top: 20px;
    float: right;
    #placeholder {
      height: 150px;
      width: 150px;
      }
    }
    input {
      padding: 5px;
      width: 80%;
      border-radius: 4px;
      }
    #submit {
      width: 100px !important;
    }
}

.borrow {
  padding-left: 15px;
  button {
    margin-top: 10px;
    font-size: 1em;
    padding: 10px;
  }
}
