html {
  font-family: Roboto !important;
}

body {
  background-color: #dddddd;
  .main {
    max-width: 950px;
    margin: 0 auto;
    background-color: white;
    height: 800px;
    margin-top: 20px;
  }
}
